// Colors on Mode
$color-background-dark: rgb(32, 44, 55);
$color-background-light: rgb(250, 250, 250);
$color-text-dark: rgb(0, 0, 0);
$color-text-light: rgb(255, 255, 255);
$color-card-dark: rgb(43, 57, 69);
$color-card-light: rgb(255, 255, 255);
$color-nav-dark: rgb(43, 57, 69);
$color-nav-light: rgb(255, 255, 255);

// Box Shadow on Mode
$boxShadow-nav-light: 0 0 10px rgba(0, 0, 0, 0.2);
$boxShadow-nav-dark: null;
$boxShadow-card-light: 0px 2px 6px rgba(0, 0, 0, 0.1);
$boxShadow-card-dark: null;
$boxShadow-btn-light: 0px 2px 6px rgba(0, 0, 0, 0.2);
$boxShadow-btn-dark: null;
