:root {
  --color-page-background: #fafafa;
  --color-card-background: white;
  --color-nav-background: white;
  --color-text: black;
  --boxShadow-nav: 0 0 10px rgba(0, 0, 0, 0.2);
  --boxShadow-card: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --boxShadow-btn: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.dark {
  --color-page-background: #202c37;
  --color-card-background: #2b3945;
  --color-nav-background: #2b3945;
  --color-text: white;
  --boxShadow-nav: ;
  --boxShadow-card: ;
  --boxShadow-btn: ;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

.mainPage {
  background-color: var(--color-page-background);
}

.navbar {
  background-color: var(--color-nav-background) !important;
  -webkit-box-shadow: var(--boxShadow-nav);
          box-shadow: var(--boxShadow-nav);
  height: 10vh;
}

.navbar-brand {
  margin-left: 75px;
  color: var(--color-text) !important;
}

.navbar-brand-text {
  color: var(--color-text) !important;
  font-size: 28px;
  font-weight: 700;
}

.navbar-mode {
  cursor: pointer;
  margin-right: 75px;
  color: var(--color-text) !important;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countries {
  width: 80%;
  margin-top: 45px;
  min-height: 713px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries a {
  text-decoration: none;
}

.countries a:hover {
  text-decoration: none;
}

.country {
  width: 280px;
  margin: 45px 15px;
  border-radius: 10px;
  -webkit-box-shadow: var(--boxShadow-card);
          box-shadow: var(--boxShadow-card);
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
  text-decoration: none;
  color: var(--color-text);
}

.country span {
  font-weight: 600;
  font-size: 14px;
}

.country.card {
  border-radius: 8px 8px;
  background-color: var(--color-card-background);
}

.country:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  color: var(--color-text);
}

.country-image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.country-details {
  height: 90vh;
  width: 100%;
  background-color: var(--color-page-background);
}

.country-details-country {
  width: 62%;
  padding-top: 60px;
  margin: auto;
}

.country-details-country .button-back.btn.btn-primary {
  width: 135px;
  background-color: var(--color-card-background);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: var(--boxShadow-btn);
          box-shadow: var(--boxShadow-btn);
  -webkit-transition: background-color ease-out 300ms;
  transition: background-color ease-out 300ms;
  margin-bottom: 60px;
}

.country-details-country .button-back.btn.btn-primary:hover {
  background-color: #8e44ad;
}

.country-details-country .content {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  color: var(--color-text);
}

.country-details-country .content-country-image {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: 0.2s ease-in 0s 1 normal none running;
          animation: 0.2s ease-in 0s 1 normal none running;
}

.country-details-country .content .country-container {
  display: -ms-grid;
  display: grid;
  margin-left: 60px;
}

.country-details-country .content .country-container-information-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.country-details-country .content .country-container-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country-details-country .content .country-container-information span {
  font-weight: 600;
}

.country-details-country .content .country-container-information-par-1 {
  margin-right: 45px;
}

.filter-content {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-content-search.form-control {
  width: 200px;
  background-color: var(--color-card-background);
  -webkit-box-shadow: var(--boxShadow-btn);
          box-shadow: var(--boxShadow-btn);
  border-radius: 10px;
  border: none;
}

.filter-content-search.form-control:focus {
  background-color: var(--color-card-background);
  color: var(--color-text);
}

.filter-content #region-filter {
  padding: 15px 40px 15px 25px;
  -webkit-box-shadow: var(--boxShadow-btn);
          box-shadow: var(--boxShadow-btn);
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-card-background);
}

.filter-content #region-filter:focus {
  border: none;
}

.border-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-container .border-countries-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 15px;
  margin-right: 16px;
  display: block;
}

.border-container .border-countries-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-container .border-countries-button-container .border-countries-buttons {
  font-size: 14px;
  font-weight: 400;
  min-width: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: var(--color-card-background);
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  margin: 0px 16px 16px 0px;
  -webkit-box-shadow: var(--boxShadow-btn);
          box-shadow: var(--boxShadow-btn);
  -webkit-transition: background-color ease-out 300ms;
  transition: background-color ease-out 300ms;
}

.border-container .border-countries-button-container .border-countries-buttons:hover {
  background-color: #8e44ad;
}

@media only screen and (max-width: 1366px) {
  .country-details {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .country-details-country .content {
    display: block;
  }
  .country-details-country .content .country-container {
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 700px) {
  .country-details-country {
    width: 90%;
  }
  .navbar-brand {
    margin-left: 15px;
  }
  .navbar-brand-text {
    font-size: 20px;
    font-weight: 700;
  }
  .navbar-mode {
    margin-right: 15px;
  }
  .filter-content {
    display: block;
  }
  .filter-content-search.form-control {
    width: 100%;
    margin-bottom: 30px;
  }
  .filter-content #region-filter {
    padding: 10px 0px 10px 25px;
  }
}
/*# sourceMappingURL=sass.css.map */