@import './variables';

:root {
	--color-page-background: #{$color-background-light};
	--color-card-background: #{$color-card-light};
	--color-nav-background: #{$color-nav-light};
	--color-text: #{$color-text-dark};

	--boxShadow-nav: #{$boxShadow-nav-light};
	--boxShadow-card: #{$boxShadow-card-light};
	--boxShadow-btn: #{$boxShadow-btn-light};
}

.dark {
	--color-page-background: #{$color-background-dark};
	--color-card-background: #{$color-card-dark};
	--color-nav-background: #{$color-nav-dark};
	--color-text: #{$color-text-light};

	--boxShadow-nav: #{$boxShadow-nav-dark};
	--boxShadow-card: #{$boxShadow-card-dark};
	--boxShadow-btn: #{$boxShadow-btn-dark};
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}

.mainPage {
	background-color: var(--color-page-background);
}

.navbar {
	background-color: var(--color-nav-background) !important;
	box-shadow: var(--boxShadow-nav);
	height: 10vh;

	&-brand {
		margin-left: 75px;
		color: var(--color-text) !important;

		&-text {
			color: var(--color-text) !important;
			font-size: 28px;
			font-weight: 700;
		}
	}

	&-mode {
		cursor: pointer;
		margin-right: 75px;
		color: var(--color-text) !important;
	}
}

.main {
	display: flex;
	justify-content: center;
}

.countries {
	width: 80%;
	margin-top: 45px;
	min-height: 713px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	& a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.country {
	width: 280px;
	margin: 45px 15px;
	border-radius: 10px;
	box-shadow: var(--boxShadow-card);
	transition: transform ease-out 250ms;
	text-decoration: none;
	color: var(--color-text);

	& span {
		font-weight: 600;
		font-size: 14px;
	}

	&.card {
		border-radius: 8px 8px;
		background-color: var(--color-card-background);
	}

	&:hover {
		transform: scale(1.1);
		text-decoration: none;
		color: var(--color-text);
	}

	&-image {
		width: 100%;
		height: 160px;
		object-fit: cover;
		border-radius: 8px 8px 0 0;
	}

	&-details {
		height: 90vh;
		width: 100%;
		background-color: var(--color-page-background);

		&-country {
			width: 62%;
			padding-top: 60px;
			margin: auto;

			& .button-back.btn.btn-primary {
				width: 135px;
				background-color: var(--color-card-background);
				color: var(--color-text);
				border: none;
				border-radius: 5px;
				box-shadow: var(--boxShadow-btn);
				transition: background-color ease-out 300ms;
				margin-bottom: 60px;

				&:hover {
					background-color: #8e44ad;
				}
			}

			& .content {
				margin-top: 45px;
				display: flex;
				align-items: center;
				max-width: 1200px;
				color: var(--color-text);

				&-country-image {
					width: 100%;
					max-width: 600px;
					object-fit: cover;
					animation: 0.2s ease-in 0s 1 normal none running;
				}

				& .country-container {
					display: grid;
					margin-left: 60px;
					&-information-title {
						font-weight: 700;
						margin-bottom: 30px;
					}

					&-information {
						display: flex;

						& span {
							font-weight: 600;
						}
					}

					&-information-par-1 {
						margin-right: 45px;
					}
				}
			}
		}
	}
}

.filter {
	&-content {
		width: 78%;
		display: flex;
		padding-top: 60px;
		margin: auto;
		justify-content: space-between;

		&-search.form-control {
			width: 200px;
			background-color: var(--color-card-background);
			box-shadow: var(--boxShadow-btn);
			border-radius: 10px;
			border: none;

			&:focus {
				background-color: var(--color-card-background);
				color: var(--color-text);
			}
		}

		& #region-filter {
			padding: 15px 0px 15px 25px;
			box-shadow: var(--boxShadow-btn);
			border: none;
			border-radius: 8px;
			appearance: none;
			width: 100%;
			color: var(--color-text);
			background-color: var(--color-card-background);

			&:focus {
				border: none;
			}
		}
	}
}

.border-container {
	display: inline-flex;
	flex-wrap: wrap;

	& .border-countries-title {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 30px;
		font-size: 15px;
		margin-right: 16px;
		display: block;
	}

	& .border-countries-button-container {
		display: flex;
		flex-wrap: wrap;

		& .border-countries-buttons {
			font-size: 14px;
			font-weight: 400;
			min-width: 95px;
			align-items: center;
			text-align: center;
			background-color: var(--color-card-background);
			color: var(--color-text);
			border: none;
			border-radius: 5px;
			margin: 0px 16px 16px 0px;
			box-shadow: var(--boxShadow-btn);
			transition: background-color ease-out 300ms;

			&:hover {
				background-color: #8e44ad;
			}
		}
	}
}

@import './mobile';
