* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

.mainPage {
  background-color: #fafafa;
}

.navbar {
  background-color: white !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 10vh;
}

.navbar-brand {
  margin-left: 75px;
}

.navbar-brand-text {
  color: black !important;
  font-size: 28px;
  font-weight: 700;
}

.navbar-mode {
  cursor: pointer;
  margin-right: 75px;
  color: black !important;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countries {
  width: 80%;
  margin-top: 45px;
  min-height: 727px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries a {
  text-decoration: none;
}

.countries a:hover {
  text-decoration: none;
}

.country {
  width: 280px;
  margin: 45px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
  text-decoration: none;
  color: black;
}

.country span {
  font-weight: 600;
  font-size: 14px;
}

.country.card {
  border-radius: 8px 8px;
}

.country:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
  color: black;
}

.country-image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.country-details {
  height: 90vh;
  width: 100%;
  background-color: #fafafa;
}

.country-details-country {
  width: 62%;
  padding-top: 60px;
  margin: auto;
}

.country-details-country .button-back.btn.btn-primary {
  width: 135px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px rgba(124, 90, 90, 0.2);
          box-shadow: 0px 2px 6px rgba(124, 90, 90, 0.2);
  -webkit-transition: background-color ease-out 300ms;
  transition: background-color ease-out 300ms;
  margin-bottom: 60px;
}

.country-details-country .button-back.btn.btn-primary:hover {
  background-color: #8e44ad;
}

.country-details-country .content {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
}

.country-details-country .content-country-image {
  width: 100%;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: 0.2s ease-in 0s 1 normal none running;
          animation: 0.2s ease-in 0s 1 normal none running;
}

.country-details-country .content .country-container {
  display: -ms-grid;
  display: grid;
  margin-left: 60px;
}

.country-details-country .content .country-container-information-title {
  font-weight: 700;
  margin-bottom: 30px;
}

.country-details-country .content .country-container-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.country-details-country .content .country-container-information span {
  font-weight: 600;
}

.country-details-country .content .country-container-information-par-1 {
  margin-right: 45px;
}

.filter-content {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-content-search.form-control {
  width: 200px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
}

.filter-content #region-filter {
  padding: 15px 40px 15px 25px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}

.filter-content #region-filter a {
  color: black;
}

.border-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-container .border-countries-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 15px;
  margin-right: 16px;
  display: block;
}

.border-container .border-countries-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.border-container .border-countries-button-container .border-countries-buttons {
  font-size: 14px;
  font-weight: 400;
  min-width: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  margin: 0px 16px 16px 0px;
  -webkit-box-shadow: 0px 2px 6px rgba(124, 90, 90, 0.2);
          box-shadow: 0px 2px 6px rgba(124, 90, 90, 0.2);
  -webkit-transition: background-color ease-out 300ms;
  transition: background-color ease-out 300ms;
}

.border-container .border-countries-button-container .border-countries-buttons:hover {
  background-color: #8e44ad;
}
/*# sourceMappingURL=sass.css.map */